<div class="form-group <%= index.to_i==0 ? 'master-item' : 'index-item' %>" id="checkbox_grid_row_group_<%= index %>">
	<div class="col-sm-5 col-sm-offset-2 ">
		<%= text_field_tag "question[varians][option][row][#{index}][label]", current_value.present? ? current_value['varians']['option']['row'][index]['label'] : "", class: "form-control", placeholder: "Row #{index.to_i+1}" %>
	</div>
	<div class="col-sm-3">
		<button class="btn btn-primary checkbox_grid_row_button" type="button" onclick="add_row(<%= id %>, <%= index %>, 'checkbox_grid_row')" style="<%= current_value.present? ? (current_value['varians']['option']['row'].count==index.to_i+1 ? '' : 'display:none') : '' %>">
			<i class="fa fa-plus"></i>
		</button>

		<% unless index.to_i==0 %>
			<button class="btn btn-primary" type="button" onclick="remove_row(<%= id %>, <%= index %>, 'checkbox_grid_row');">
				<i class='fa fa-minus'></i>
			</button>
		<% end %>
	</div>
</div>