<div class="form-group <%= index.to_i==0 ? 'master-item' : 'index-item' %>" id="checkbox_other_group">
	<div class="col-sm-1 col-sm-offset-2 checkbox reset-width">
		<%= check_box_tag "question[answer][other]", "other", current_value.present? ? (current_value['varians']['answer']['other'].present? ? true : false) : false  %> Other:
	</div>
	<div class="col-sm-5 fix-width">
		<%= text_field_tag "question[varians][option][other][label]", current_value.present? ? current_value['varians']['option']['other']['label'] : "", class: "form-control", placeholder: "Other option" %>
	</div>
	<div class="col-sm-2">
		<button class="btn btn-primary" type="button" onclick="remove_row(<%= id %>, <%= index %>, 'checkbox_other');">
			<i class='fa fa-minus'></i>
		</button>
	</div>
</div>