<% id ||= 0 %>
<% current_value = session[current_user.id.to_s]['question'][id.to_i] %>
<div class="form-group">
	<div class="col-sm-10 col-sm-offset-2 checkbox">
		<%= check_box_tag "question[varians][include_year]", 1, current_value.present? ? current_value['varians']['include_year'] : false, {onclick: "set_visibility()"} %>
		<%= label_tag :question_varians_include_year, "Include Year" %>
	</div>
	<div class="col-sm-10 col-sm-offset-2 checkbox">
		<%= check_box_tag "question[varians][include_time]", 1, current_value.present? ? current_value['varians']['include_time'] : false, {onclick: "set_visibility()"} %>
		<%= label_tag :question_varians_include_time, "Include Time" %>
	</div>
	<div class="col-sm-10 col-sm-offset-2 checkbox">
		<%= check_box_tag "question[varians][include_to]", 1, current_value.present? ? current_value['varians']['include_to'] : false, {onclick: "set_visibility()"} %>
		<%= label_tag :question_varians_include_to, "Include To" %>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-5 col-sm-offset-2">
		<div class="range-date" id="single_default">
			<div class="col-sm-6">
				<%= text_field_tag "question[varians][date_start]", current_value.present? ? current_value['varians']['date_start'] : "", class: "form-control range-date-control singledefault", placeholder: "Start" %>
	    </div>
		</div>
		<div class="range-date" id="single_year" style="display:none">
			<div class="col-sm-6">
				<%= text_field_tag "question[varians][date_start]", current_value.present? ? current_value['varians']['date_start'] : "", class: "form-control range-date-control singleyear", placeholder: "Start" %>
	    </div>
	  </div>
		<div class="range-date" id="single_time" style="display:none">
			<div class="col-sm-6">
				<%= text_field_tag "question[varians][date_start]", current_value.present? ? current_value['varians']['date_start'] : "", class: "form-control range-date-control form_datetime singletime", placeholder: "Start" %>
	    </div>
	  </div>
		<div class="range-date" id="single_time_year" style="display:none">
			<div class="col-sm-6">
				<%= text_field_tag "question[varians][date_start]", current_value.present? ? current_value['varians']['date_start'] : "", class: "form-control range-date-control form_datetimeyear singletimeyear", placeholder: "Start" %>
	    </div>
	  </div>

		<div class="range-date" id="range_date_default" style="display:none">
			<div class="input-group input-large">
				<%= text_field_tag "question[varians][date_start]", current_value.present? ? current_value['varians']['date_start'] : "", class: "form-control range-date-control dpddefault1", placeholder: "Start" %>
	      <span class="input-group-addon">To</span>
				<%= text_field_tag "question[varians][date_end]", current_value.present? ? current_value['varians']['date_end'] : "", class: "form-control range-date-control dpddefault2", placeholder: "End" %>
	    </div>
	  </div>
		<div class="range-date" id="range_date_year" style="display:none">
			<div class="input-group input-large">
				<%= text_field_tag "", current_value.present? ? current_value['varians']['date_start'] : "", class: "form-control range-date-control dpdyear1", placeholder: "Start" %>
	      <span class="input-group-addon">To</span>
				<%= text_field_tag "", current_value.present? ? current_value['varians']['date_end'] : "", class: "form-control range-date-control dpdyear2", placeholder: "End" %>
	    </div>
		</div>
		<div class="range-date" id="range_date_time" style="display:none">
			<div class="input-group input-large">
				<%= text_field_tag "", current_value.present? ? current_value['varians']['date_start'] : "", class: "form-control range-date-control form_datetime form_datetime1", placeholder: "Start" %>
	      <span class="input-group-addon">To</span>
				<%= text_field_tag "", current_value.present? ? current_value['varians']['date_end'] : "", class: "form-control range-date-control form_datetime form_datetime2", placeholder: "End" %>
	    </div>
		</div>
		<div class="range-date" id="range_date_time_year" style="display:none">
			<div class="input-group input-large">
				<%= text_field_tag "", current_value.present? ? current_value['varians']['date_start'] : "", class: "form-control range-date-control form_datetimeyear form_datetimeyear1", placeholder: "Start" %>
	      <span class="input-group-addon">To</span>
				<%= text_field_tag "", current_value.present? ? current_value['varians']['date_end'] : "", class: "form-control range-date-control form_datetimeyear form_datetimeyear2", placeholder: "End" %>
	    </div>
		</div>
	</div>
</div>

<div class="extra panel box">
	<div class="row">
		<div class="col-sm-<%= id.to_i == 0 ? '1' : '2' %>" <%= "style=padding-right:0;" if id.to_i > 0 %>>
			<%= button_tag "Done", type: "submit", class: "btn btn-primary" %>
			<%= link_to "Cancel", edit_question_surveys_path(id: id, cancel: true), remote: true, class: "btn btn-primary" if id.to_i > 0 %>
		</div>
		<div class="col-sm-1<%= id.to_i == 0 ? '1' : '0' %>">
			<div class="checkbox has-attachment">
				<div class="checkbox-wrapper">
					<%= check_box_tag "question[required]", 1, current_value.present? ? current_value['required'] : false %>
					<%= label_tag :question_required, "Required" %>
				</div>
				<a href="#image" id="question_varians_image_link" onclick="show_dialog(this, 'image')">attach image</a>
				<a href="#video" id="question_varians_video_link" onclick="show_dialog(this, 'video')">attach video</a>
				<%= file_field_tag "question[varians][image]" %>
				<%= file_field_tag "question[varians][video]" %>
			</div>
		</div>
	</div>
</div>

<% if current_value.present? %>
<script type="text/javascript">
	set_visibility()
</script>
<% end %>