<% id ||= 0 %>
<% current_value = session[current_user.id.to_s]['question'][id.to_i] %>

<% if current_value.present? %>
	<% current_value["varians"]["option"]["row"].each do |index, option| %>
		<%= render "/values/radio_button_grid_row_item", index: index, current_value: current_value, id: id %>
	<% end %>
<% else %>
	<%= render "/values/radio_button_grid_row_item", index: 0, current_value: current_value, id: id %>
<% end %>

<hr/>

<% if current_value.present? %>
	<% current_value["varians"]["option"]["column"].each do |index, option| %>
		<%= render "/values/radio_button_grid_column_item", index: index, current_value: current_value, id: id %>
	<% end %>
<% else %>
	<%= render "/values/radio_button_grid_column_item", index: 0, current_value: current_value, id: id %>
<% end %>

<div class="extra panel box" id="extra_panel">
	<div class="row">
		<div class="col-sm-<%= id.to_i == 0 ? '1' : '2' %>" <%= "style=padding-right:0;" if id.to_i > 0 %>>
			<%= button_tag "Done", type: "submit", class: "btn btn-primary" %>
			<%= link_to "Cancel", edit_question_surveys_path(id: id, cancel: true), remote: true, class: "btn btn-primary" if id.to_i > 0 %>
		</div>
		<div class="col-sm-1<%= id.to_i == 0 ? '1' : '0' %>">
			<div class="checkbox has-attachment">
				<div class="checkbox-wrapper">
					<%= check_box_tag "question[required]", 1, current_value.present? ? current_value['required'] : false %>
					<%= label_tag :question_required, "Required" %>
				</div>
				<div class="checkbox-wrapper">
					<%= check_box_tag "question[varians][weighting]", 1, current_value.present? ? current_value['varians']['weighting'] : false %>
					<%= label_tag :question_varians_weighting, "Use Weighting" %>
				</div>
				<a href="#image" id="question_varians_image_link" onclick="show_dialog(this, 'image')">attach image</a>
				<a href="#video" id="question_varians_video_link" onclick="show_dialog(this, 'video')">attach video</a>
				<%= file_field_tag "question[varians][image]" %>
				<%= file_field_tag "question[varians][video]" %>
			</div>
		</div>
	</div>
</div>