<% id ||= 0 %>
<% current_value = session[current_user.id.to_s]['question'][id.to_i] %>
<%= hidden_field_tag "question[varians][options][0][label]", "yes" %>
<%= hidden_field_tag "question[varians][options][1][label]", "no" %>
<div class="form-group">
	<%= label_tag "question[answer]", "Answer", class: "col-sm-2 control-label" %>
	<div class="col-sm-6">
		<div class='iradio_minimal radio col-lg-2'>
			<%= radio_button_tag "question[answer]", "yes", current_value.present? ? (current_value['answer'] == "yes" ? true : false) : true %>
			<%= label_tag :question_answer_yes, "Yes" %>
		</div>
		<div class='iradio_minimal radio col-lg-2'>
			<%= radio_button_tag "question[answer]", "no", current_value.present? ? (current_value['answer'] == "no" ? true : false) : false %>
			<%= label_tag :question_answer_no, "No" %>
		</div>
	</div>
</div>

<div class="extra panel box">
	<div class="row">
		<div class="col-sm-<%= id.to_i == 0 ? '1' : '2' %>" <%= "style=padding-right:0;" if id.to_i > 0 %>>
			<%= button_tag "Done", type: "submit", class: "btn btn-primary" %>
			<%= link_to "Cancel", edit_question_surveys_path(id: id, cancel: true), remote: true, class: "btn btn-primary" if id.to_i > 0 %>
		</div>
		<div class="col-sm-1<%= id.to_i == 0 ? '1' : '0' %>">
			<div class="checkbox has-attachment">
				<div class="checkbox-wrapper">
					<%= check_box_tag "question[required]", 1, current_value.present? ? current_value['required'] : false %>
					<%= label_tag :question_required, "Required" %>
				</div>
				<div class="checkbox-wrapper">
					<%= check_box_tag "question[varians][logical]", 1, current_value.present? ? current_value['varians']['logical'] : false %>
					<%= label_tag :question_varians_logical, "Logical Workflow" %>
				</div>
				<a href="#image" id="question_varians_image_link" onclick="show_dialog(this, 'image')">attach image</a>
				<a href="#video" id="question_varians_video_link" onclick="show_dialog(this, 'video')">attach video</a>
				<%= file_field_tag "question[varians][image]" %>
				<%= file_field_tag "question[varians][video]" %>
			</div>
		</div>
	</div>
</div>