<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
  <h2 class="form-signin-heading">sign in now</h2>
  <div class="login-wrap">
    <% if flash.any? %>
      <div id="error_explanation">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :h2, msg, id: "flash_#{name}", class: "flash_content" if msg.is_a?(String) %>
        <%- end -%> 
      </div>
    <% end %>
    <div class="user-login-info">
      <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "Username" %>
      <%#= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
    </div>
    <label class="checkbox">
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me, value: "remember-me" %> <%= f.label :remember_me %>
      <% end -%>
      <span class="pull-right">
        <%= link_to " Forgot Password?", new_user_password_path, remote: true %>
      </span>
    </label>
    <%= button_tag "Sign in", class: "btn btn-lg btn-login btn-block", type: "submit" %>

    <div class="registration">
      Don't have an account yet?
      <%= link_to "Create an account", new_user_registration_path %>
    </div>

  </div>

<% end %>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
  <%= render "devise/passwords/new" %>
</div>
<!-- modal -->
